.header {
    grid-area: h;
    background-color: steelblue;
    display: flex;
    /*margin: 1px;*/
    border-radius: 12px 12px 5px 5px;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    position: fixed;
    width: 92.7%;
    padding: 2px;
    box-shadow: 0 0 7px aliceblue;
}

.header img:nth-child(1) {
    margin-left: 15px;
    margin-right: 10px;
    width: 50px;
}

.header img:nth-child(3) {
    margin-left: 5px;
    margin-right: 10px;
    width: 50px;
}

.header div {
    color: ghostwhite;
    font-size: 1.9em;
    font-family: 'Cinzel', serif;;
    letter-spacing: 10px;
    font-weight: 700;
}

@media (prefers-reduced-motion:
        no-preference) {
    .header img:nth-child(3) {
        animation:logo-spin infinite 20s linear;
    }
}

@keyframes logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}