.App {
  text-align: center;
  margin: 0 auto;
  width: 94%;

  display: grid;

  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 3px;

  grid-template-areas:'h h' 'n ta' 'f f';
}

.nav {
  grid-area: n;
  background-color: pink;
}

.textarea {
  grid-area: ta;
  background-color: cornsilk;
}

.footer {
  grid-area: f;
  background-color: gold;
}



/*.App-logo {*/
/*  height: 40vmin;*/
/*  pointer-events: none;*/
/*}*/

/*@media (prefers-reduced-motion: no-preference) {*/
/*  .App-logo {*/
/*    animation: App-logo-spin infinite 20s linear;*/
/*  }*/
/*}*/

/*@keyframes App-logo-spin {*/
/*  from {*/
/*    transform: rotate(0deg);*/
/*  }*/
/*  to {*/
/*    transform: rotate(360deg);*/
/*  }*/
/*}*/
